$list-width: 300px;
$font-size-lg: 30px;
$font-size-md: 25px;
$font-size-sm: 20px;
$base-color: #ffffff;
$list-bg-color: #e7eeea;
$list-font-color: #37523d;

@mixin pc {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 568px) {
    @content;
  }
}
body {
  font-family: 微軟正黑體;
  background-color: black;
  font-weight: bold;
}
.container {
  width: 948px;
  margin: 0 auto;
  display: flex;
  &--style {
    background-color: $base-color;
  }
  @include mobile {
    width: 100%;
    display: block;
  }
}
.list {
  margin: 0 10px;
  @include mobile {
    margin-bottom: 10px;
  }
  &__title {
    width: $list-width;
    padding: 20px 0;
    &--style {
      background-color: $list-font-color;
      color: $base-color;
      font-weight: 300;
      text-align: center;
    }
    @include pad {
      background-color: #4f9d9d;
    }
    @include mobile {
      width: 100%;
      display: block;
      text-align: center;
      background-color: #984b4b;
    }
  }
  &__item {
    width: $list-width;
    padding: 20px 0;
    &--style {
      border: 1px solid $list-bg-color;
      &:hover {
        background-color: $list-bg-color;
      }
    }
    @include mobile {
      width: 100%;
    }
    &__info {
      display: block;
      &--style {
        color: $list-font-color;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
.card {
  &__item {
    display: flex;
    flex-wrap: wrap;
    &__main {
      width: $list-width;
      margin-left: 10px;
      margin-bottom: 10px;
      &--style {
        border: 1px solid $list-bg-color;
      }
      @include mobile {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    @include pad {
      display: block;
    }
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  &__text {
    font-size: $font-size-sm;
    width: 180px;
    padding: 15px 0;
    &--style {
      border-right: 1px solid $list-bg-color;
      text-align: center;
      color: #5e7463;
    }
    &__msg {
      width: 115px;
      padding: 15px 0;
      &--style {
        text-align: center;
        color: #5e7463;
      }
    }
  }
  &__btn {
    width: 100%;
    padding: 20px 0;
    &--style {
      color: $list-font-color;
      background-color: $list-bg-color;
      text-align: center;
      text-decoration: none;
    }
  }
}

.fontSize--lg {
  font-size: $font-size-lg;
}
.fontSize--md {
  font-size: $font-size-md;
}
.fontSize--sm {
  font-size: $font-size-sm;
}
