.content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
$themes: (
  "gray": #ccc,
  "orange": orange,
  "purple": plum,
);

@each $key, $value in $themes {
  .bg-#{$key} {
    background-color: $value;
  }
}
$grid-num: 12;
$gutter-width: 30px;
* {
  box-sizing: border-box;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: $gutter-width/2;
  padding-left: $gutter-width/2;
}

body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  margin-right: -($gutter-width/2);
  margin-left: -($gutter-width/2);
  flex-wrap: wrap;
}

%col {
  max-width: 100%;
  flex: 0 0 100%;
  padding-right: $gutter-width/2;
  padding-left: $gutter-width/2;
}

@for $i from 1 through $grid-num {
  .col-#{$i} {
    @extend %col;
  }
}

@media screen and (min-width: 767px) {
  @for $i from 1 through $grid-num {
    .col-#{$i} {
      max-width: 100% * ($i/$grid-num);
      flex: 0 0 100% * ($i/$grid-num);
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

// 作業由此開始

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sponsor {
  text-align: center;
}

.no-gutters {
  padding-right: 0px;
  padding-left: 0px;
}

.row-no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
