// 作業共用樣式
.content {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-gray {
  background-color: #ccc;
}
.bg-orange {
  background-color: orange;
}
.bg-purple {
  background-color: Plum;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

// 作業由此開始
//使gutter可以設置絕對數值
* {
  box-sizing: border-box;
}
//變數設置
$gutter-width: 30px;
$grid-num: 12;
$lg: 992px;
$md: 768px;
$sm: 576px;
//mixin設置
@mixin rwd($device) {
  @media (min-width: $device) {
    @content;
  }
}

//通用
//[class*="col-"]告訴css找到所有class中有col開頭的div
.no-gutters {
  margin-left: 0;
  margin-right: 0;
  > .col,
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  &-row {
    margin-left: 0;
    margin-right: 0;
  }
  &-col {
    padding-left: 0;
    padding-right: 0;
  }
}

.justify-content-center {
  justify-content: center;
}

.container {
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
}

.row {
  display: flex;
  margin-left: -($gutter-width/2);
  margin-right: -($gutter-width/2);
  flex-wrap: wrap;
}

%col {
  position: relative;
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
}

@for $i from 1 through $grid-num {
  .col-#{$i} {
    @extend %col;
    @include rwd($md) {
      max-width: 100% * ($i/$grid-num);
      flex: 0 0 (100% * ($i/$grid-num));
    }
  }
}
